{% extends 'layout.html' %}

{% block content %}
    <center><div><h1>Welcome, {{ user.username }}</h1></div></center>

    <h2>Regular Pizza</h2>
    <table class = "table table-striped">
        <thead>
            <th scope="col">Pizza Type</th>
            <th scope="col">Small Price</th>
            <th scope="col">Add to Cart</th>
            <th scope="col">Large Price</th>
            <th scope="col">Add to Cart</th>
        </thead>
        <tbody>
        {% for retrieve in regular_pizza %}
            <tr>
                <td>{{ retrieve.type_pizza }}</td>
                <td>{{ retrieve.small }}</td>
                <td><a class="btn btn-info">Add to Cart</a></td>
                <td>{{ retrieve.large }}</td>
                <td><a class="btn btn-info">Add to Cart</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Sicilian Pizza</h2>
    <table class = "table table-striped">
        <thead>
            <th scope="col">Pizza Type</th>
            <th scope="col">Small Price</th>
            <th scope="col">Add to Cart</th>
            <th scope="col">Large Price</th>
            <th scope="col">Add to Cart</th>
        </thead>
        <tbody>
        {% for retrieve in sicilian_pizza %}
            <tr>
                <td>{{ retrieve.type_pizza }}</td>
                <td>{{ retrieve.small }}</td>
                <td><a class="btn btn-info">Add to Cart</a></td>
                <td>{{ retrieve.large }}</td>
                <td><a class="btn btn-info">Add to Cart</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Subs</h2>
    <table class = "table table-striped">
        <thead>
            <th scope="col">Sub Types</th>
            <th scope="col">Small Price</th>
            <th scope="col">Add to Cart</th>
            <th scope="col">Large Price</th>
            <th scope="col">Add to Cart</th>
            <th scope="col">Small Price with Cheese</th>
            <th scope="col">Add to Cart</th>
            <th scope="col">Large Price with Cheese</th>
            <th scope="col">Add to Cart</th>
        </thead>
        <tbody>
        {% for retrieve in subs %}
            <tr>
                <td>{{ retrieve.type_subs }}</td>
                <td>{{ retrieve.small }}</td>
                <td><a class="btn btn-info">Add to Cart</a></td>
                <td>{{ retrieve.large }}</td>
                <td><a class="btn btn-info">Add to Cart</a></td>
                <td>{{ retrieve.small_cheese }}</td>
                <td><a class="btn btn-info">Add to Cart</a></td>
                <td>{{ retrieve.large_cheese }}</td>
                <td><a class="btn btn-info">Add to Cart</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Pasta</h2>
    <table class = "table table-striped">
        <thead>
            <th scope="col">Pasta Types</th>
            <th scope="col">Price</th>
            <th scope="col">Add to Cart</th>
        </thead>
        <tbody>
        {% for retrieve in pasta %}
            <tr>
                <td>{{ retrieve.type_pasta }}</td>
                <td>{{ retrieve.price }}</td>
                <td><a class="btn btn-info">Add to Cart</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Salads</h2>
    <table class = "table table-striped">
        <thead>
            <th scope="col">Salad Types</th>
            <th scope="col">Price</th>
            <th scope="col">Add to Cart</th>
        </thead>
        <tbody>
        {% for retrieve in salads %}
            <tr>
                <td>{{ retrieve.type_salad }}</td>
                <td>{{ retrieve.price }}</td>
                <td><a class="btn btn-info">Add to Cart</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Dinner Platters</h2>
    <table class = "table table-striped">
        <thead>
            <th scope="col">Dinner Platters Types</th>
            <th scope="col">Small Price</th>
            <th scope="col">Add to Cart</th>
            <th scope="col">Large Price</th>
            <th scope="col">Add to Cart</th>
        </thead>
        <tbody>
        {% for retrieve in dinner_platters %}
            <tr>
                <td>{{ retrieve.type_dinner_platters }}</td>
                <td>{{ retrieve.small }}</td>
                <td><a class="btn btn-info">Add to Cart</a></td>
                <td>{{ retrieve.large }}</td>
                <td><a class="btn btn-info">Add to Cart</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Toppings</h2>
    <table class = "table table-striped">
        <thead>
            <th scope="col">Topping</th>
        </thead>
        <tbody>
        {% for retrieve in topping %}
            <tr>
                <td>{{ retrieve.toppings }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}